<h4 class="v-font-h4 v-p-size-16">Books:</h4>

<vega-accordion *ngFor="let book of books"
  drawsBackground="true"
  expandIconAlign="left"
  expand="false"
  iconPosition="top"
  [groupId]="book._id"
  [accordionTitle]="book.name"
  (vegaExpand)="onClick(book, $event)">
  <div slot="accordion-content">
    <div class="v-font-field-label v-pb-size-8">Chapters: </div>
    <ul>
      <li *ngFor="let chapter of book.chapters" class="v-font-field-value">{{chapter.chapterName}}</li>
    </ul>
  </div>
</vega-accordion>



