<div class="v-bg-accent7-primary v-p-size-16">
  <h2 class="v-font-h2 v-text-primary">Lord of The Rings</h2>
</div>

<div class="v-m-size-8">
  <vega-tab-group
    id="web-tab-group"
    gap="size-8"
    showCloseButton="false"
    [tabItems]="tabItems">
  </vega-tab-group>
  <div class="vega-tab-group-content v-pt-size-8 v-text-primary">
    <div class="vega-tab-group-pane active" id="nav-books">
      <app-books></app-books>
    </div>
    <div class="vega-tab-group-pane" id="nav-movies">
      <app-movies></app-movies>
    </div>
  </div>
</div>

<!--<nav>-->
<!--  <ul>-->
<!--    <li><a routerLink="/books" routerLinkActive="active" ariaCurrentWhenActive="page">Books</a></li>-->
<!--    <li><a routerLink="/movies" routerLinkActive="active" ariaCurrentWhenActive="page">Movies</a></li>-->
<!--  </ul>-->
<!--</nav>-->
<!--<router-outlet></router-outlet>-->
